<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Node.js upload images</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
    <style>
      div.preview-images > img {
        width: 30%;
      }
    </style>
  </head>

  <body>
    <div class="container">
      <div class="row">
        <div class="col-sm-8 mt-3">
          <h4>CyberSource-SA Hosted Checkout</h4>

          <form class="mt-4"
            action="http://localhost:8000/boa/index"
            method="post"
           
          >
            <div class="form-group">
              <input type="hidden" name="access_key" value="743b4c4b0aef3c5591b2959e8c66972e" >
              <input type="hidden" name="profile_id" value="2BAE047A-AFA1-4F9E-9A33-515E93E0575B" >
              <input type="hidden" name="transaction_uuid" value="" >
               <input type="hidden" name="signed_field_names" value="access_key,profile_id,transaction_uuid,signed_field_names,unsigned_field_names,signed_date_time,locale,transaction_type,reference_number,amount,currency">
              <input type="hidden" name="unsigned_field_names" value="">
              <input type="hidden" name="signed_date_time" value="" >
              <input type="hidden" name="locale" value="en" >
              <input type="hidden" name="transaction_type" value="sale" >
              <input type="hidden" name="reference_number" value="E-5AFEF65238874EA0936EB3F3C2673A59" >
              <span>amount: </span><input type="text" name="amount"><br/><br />
              <span>currency: </span><input type="text" name="currency"><br/><br />
            </div>
            <button type="submit" id="submit" name="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
      </div>
      <hr />
      <div class="row">
        <div class="col-sm-12">
          <div class="preview-images"></div>
        </div>
      </div>
    </div>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script>
      $(document).ready(function() {
        let imagesPreview = function(input, placeToInsertImagePreview) {
          if (input.files) {
            let filesAmount = input.files.length;
            for (i = 0; i < filesAmount; i++) {
              let reader = new FileReader();
              reader.onload = function(event) {
                $($.parseHTML("<img>"))
                  .attr("src", event.target.result)
                  .appendTo(placeToInsertImagePreview);
              };
              reader.readAsDataURL(input.files[i]);
            }
          }
        };
        $("#input-files").on("change", function() {
          imagesPreview(this, "div.preview-images");
        });
      });
    </script>
  </body>
</html>